<!-- about section start -->
<link rel="stylesheet" href="/static/css/style.css">
<section class="about" id="about">

    <head>
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="images/profile-1.jpeg" alt="">
                </div>
    </head>

    <body>

        <div class="myinfo">

            <b>Name</b> : Parth Maheshkumar Shukla <br>
            <b>Age</b> : 20 years <br>
            <b>Date of Birth</b> : 02 / 11 / 2002 <br>
            <b>Status</b> : Student <br>
            <b>Course Pursuing</b> : B.Tech Petroleum Engineering <br>
            <b>Year of Studying</b> : 2nd Year <br>
            <b>University</b> : Pandit Deendayal Energy University - PDEU ( Formerly PDPU ) ,
                                Gandhinagar , Gujarat

        </div>

        <div class="resume">
            <a href="{% url 'download_resume_file' %}" >Download Resume</a>
        </div>
        <div class="cv">
            <a href="{% url 'download_cv_file'  %}" >Download CV</a>
        </div>
    
        </div>
        </div>
    </body>