{% load static %}   
<link rel= "stylesheet"href= "{% static '/css/style.css' %}" type= "text/css">


<!-- <!DOCTYPE html> -->
<!-- Created By CodingLab - www.codinglabweb.com -->
<!-- <html lang="en" dir="ltr">
  <header>
    <h1>My Certifications</h1>
   </header>
<body class="body1">
  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img"> -->
            <!--- <img src="images/img1.jpg" alt="">-->
           <!-- </div>
           <div class="details">
             <div class="name">Andrew Neil</div>
             <div class="job">Web Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img"> -->
            <!--- <img src="images/img2.jpg" alt="">--->
           <!-- </div>
           <div class="details">
             <div class="name">Jasmine Carter</div>
             <div class="job">UI Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img"> -->
            <!-- <img src="images/img3.jpg" alt="">---->
           <!-- </div>
           <div class="details">
             <div class="name">Justin Chung</div>
             <div class="job">Web Devloper</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img"> -->
             <!---<img src="images/img4.jpg" alt="">--->
           <!-- </div>
           <div class="details">
             <div class="name">Appolo Reef</div>
             <div class="job">Web Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img"> -->
             <!--<img src="images/img5.jpg" alt="">---->
           <!-- </div>
           <div class="details">
             <div class="name">Adrina Calvo</div>
             <div class="job">UI Designer</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img"> -->
             <!--<img src="images/img6.jpeg" alt="">--->
           <!-- </div>
           <div class="details">
             <div class="name">Nicole Lewis</div>
             <div class="job">Web Devloper</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>
</body>
</html> -->






































<!-- teams section start -->
<link rel="stylesheet" href="/static/css/style.css">
<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="titleteams">My Certifications</h2>
        <h2 class="titleteams2"><big><big>&#8594</big></big> My Certificates</h2>
        <div class="carousel owl-carousel">
            <div class="card1">
                <div class="box">
                    <img src="{% static '/img/coursera.png' %}"
                    alt="no"/>
                    <div class="text">Coursera - IBM</div>
                    <p>Machine Learning with Python</p>
                </div>
                <a href="https://drive.google.com/file/d/1SIUXNehFO--CPBwIOuKm5Mp4WFOcJC5L/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <div class="card2">
                <div class="box">
                    <img src="{% static '/img/coursera.png' %}" alt="no"/>
                    <div class="text">Coursera - IBM</div>
                    <p>Exploratory Data Analysis</p>
                </div>
                <a href="https://drive.google.com/file/d/1Jx0t4QXaYjjPW3bkxU7GzxCW0pTKEkzU/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <div class="card2">
                <div class="box">
                    <img src="{% static '/img/ibm.png' %}" alt="no"/>
                    <div class="text">IBM</div>
                    <p>Machine Learning with Python</p>
                </div>
                <a href="https://drive.google.com/file/d/1JAMMBFeQN8rCq9-Xe0_usQ3Otp2gE5mg/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <div class="card1">
              <div class="box">
                  <img src="{% static '/img/cognitiveclass.png' %}" alt="">
                  <div class="text">Cognitive Class - IBM</div>
                  <p>Machine Learning with Python</p>
              </div>
              <a href="https://drive.google.com/file/d/1JBAtOgwqLabmjwl2_Aq22NT40tiC3idn/view?usp=drivesdk" class="btn">
                <button class="btn">View</button>
              </a>
          </div>
            <div class="card1">
                <div class="box">
                    <img src="{% static '/img/greatlearning.jpg' %}" alt="">
                    <div class="text">Great Learning</div>
                    <p>Basics Of Machine Learning</p>
                </div>
                <a href="https://drive.google.com/file/d/1IznUK1uF-Toivqz3DpZ4E3rTwVOxSOF2/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <div class="card2">
                <div class="box">
                    <img src="{% static '/img/greatlearning.jpg' %}" alt="">
                    <div class="text">Great Learning</div>
                    <p>Data Visualization Using TABLEAU</p>
                </div>
                <a href="https://drive.google.com/file/d/1T0MwJALHUMRDyBLzWmk7BNiL-DvG3VBi/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <div class="card2">
              <div class="box">
                  <img src="{% static '/img/greatlearning.jpg' %}" alt="">
                  <div class="text">Great Learning</div>
                  <p>Introduction to Machine Learning Algorithms</p>
              </div>
              <a href="https://drive.google.com/file/d/1IzaiHTp9LWpXTnh2Nf8ARHnK1Hv6LAUM/view?usp=drivesdk" class="btn">
                <button class="btn">View</button>
              </a>
            </div>
          <div class="card1">
            <div class="box">
                <img src="{% static '/img/greatlearning.jpg' %}" alt="">
                <div class="text">Great Learning</div>
                <p>Python for Machine Learning</p>
            </div>
            <a href="https://drive.google.com/file/d/1J2RSWGoHKKzd4diJ5rCCMF63qK-3qlDs/view?usp=drivesdk" class="btn">
              <button class="btn">View</button>
            </a>
            </div>
            <div class="card1">
              <div class="box">
                  <img src="{% static '/img/inmovidu.jpg' %}" alt="">
                  <div class="text">InMovidu</div>
                  <p>Training Completion Certificate : Machine Learning with Python</p>
              </div>
              <a href="https://drive.google.com/file/d/1HkaydHhSy_ZLAUf1VCah-Ow5X5y8lvvE/view?usp=drivesdk" class="btn">
                <button class="btn">View</button>
              </a>
          </div>
          <div class="card2">
            <div class="box">
                <img src="{% static '/img/inmovidu.jpg' %}" alt="">
                <div class="text">InMovidu</div>
                <p>Machine Learning with Python</p>
            </div>
            <a href="https://drive.google.com/file/d/1HbrTiRBXnjWzp6u89-87s5NxJRpuR0Nl/view?usp=drivesdk" class="btn">
              <button class="btn">View</button>
            </a>
        </div>
        <div class="card2">
          <div class="box">
              <img src="{% static '/img/kaggle.png' %}" alt="">
              <div class="text">Kaggle</div>
              <p>Python</p>
          </div>
          <a href="https://drive.google.com/file/d/1I31en6xSfqMLsY4-30JXLp0etRlb_ejB/view?usp=drivesdk" class="btn">
            <button class="btn">View</button>
          </a>
      </div>
    <div class="card1">
      <div class="box">
          <img src="{% static '/img/kaggle.png' %}" alt="">
          <div class="text">Kaggle</div>
          <p>Pandas</p>
      </div>
      <a href="https://drive.google.com/file/d/1I3Jr76l3HopVJyjJxreVLXZQF2lFIO1C/view?usp=drivesdk" class="btn">
        <button class="btn">View</button>
      </a>
  </div>
        <div class="card1">
          <div class="box">
              <img src="{% static '/img/kaggle.png' %}" alt="">
              <div class="text">Kaggle</div>
              <p>Data Cleaning</p>
          </div>
          <a href="https://drive.google.com/file/d/1I4_etp6XCafvoTbJdEH9VWeYK1hoJ4R0/view?usp=drivesdk" class="btn">
            <button class="btn">View</button>
          </a>
      </div>
      <div class="card2">
        <div class="box">
            <img src="{% static '/img/kaggle.png' %}" alt="">
            <div class="text">Kaggle</div>
            <p>Data Visualization</p>
        </div>
        <a href="https://drive.google.com/file/d/1IBA_-C8U_wLBlKDDIFIquOHwnyaE6eRg/view?usp=drivesdk" class="btn">
          <button class="btn">View</button>
        </a>
    </div>
    <div class="card2">
      <div class="box">
          <img src="{% static '/img/kaggle.png' %}" alt="">
          <div class="text">Kaggle</div>
          <p>Feature Engineering</p>
      </div>
      <a href="https://drive.google.com/file/d/1IKdnXxV8enFBAHF5EHHlm6sARtkSpJrn/view?usp=drivesdk" class="btn">
        <button class="btn">View</button>
      </a>
  </div>
  <div class="card1">
    <div class="box">
        <img src="{% static '/img/kaggle.png' %}" alt="">
        <div class="text">Kaggle</div>
        <p>Geospatial Analysis</p>
    </div>
    <a href="https://drive.google.com/file/d/1IXLDaGIxLKLJZfPw1-VJfq-w4eTOd0nD/view?usp=drivesdk" class="btn">
      <button class="btn">View</button>
    </a>
</div>

<div class="card1">
  <div class="box">
      <img src="{% static '/img/kaggle.png' %}" alt="">
      <div class="text">Kaggle</div>
      <p>Intro to Machine Learning</p>
  </div>
  <a href="https://drive.google.com/file/d/1ITbsmu-Zwy_JtSk7pIgmpSPFmo_NYK3J/view?usp=drivesdk" class="btn">
    <button class="btn">View</button>
  </a>
</div>
<div class="card2">
  <div class="box">
      <img src="{% static '/img/kaggle.png' %}" alt="">
      <div class="text">Kaggle</div>
      <p>Intermediate Machine Learning</p>
  </div>
  <a href="https://drive.google.com/file/d/1IU0Yfz09uxEv-cRuePb5iBNtgkNGVHmT/view?usp=drivesdk" class="btn">
    <button class="btn">View</button>
  </a>
</div>
        </div>
    </div>





    <!-- BATCHS WALA PART -->



    <h2 class="batchtitle"><big><big>&#8594</big></big> My Batchs</h2>
        <div class="carousel owl-carousel">
            <div class="batch1">
                <div class="box">
                    <img src="{% static '/img/cognitiveclass.png' %}" alt="">
                    <div class="text">Cognitive Class - IBM</div>
                    <p>Machine Learning with Python</p>
                </div>
                <a href="https://drive.google.com/file/d/1JXKDkF4xRjSHvaAys0CtNR6KCSo0gg0m/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <div class="batch2">
                <div class="box">
                    <img src="{% static '/img/ibm.png' %}" alt="">
                    <div class="text">Coursera - IBM</div>
                    <p>Machine Learning with Python</p>
                </div>
                <a href="https://drive.google.com/file/d/1SH9RvDwAHJkJBgBhm3QrXqOdkgHUvlIG/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>


    <!-- BATCHS WALA PART -->



    <h2 class="batchcertificatetitle"><big><big>&#8594</big></big>My Batchs Certificates</h2>
        <div class="carousel owl-carousel">
            <div class="batchcertificate1">
                <div class="box">
                    <img src="{% static '/img/coursera.png' %}" alt="">
                    <div class="text">Coursera - IBM</div>
                    <p>Machine Learning with Python</p>
                </div>
                <a href="https://drive.google.com/file/d/1STse0pxYkWZtxH7wtv3rdlqMnCxG_DUV/view?usp=drivesdk" class="btn">
                  <button class="btn">View</button>
                </a>
            </div>
            <!-- <div class="batchcertificate2">
                <div class="box">
                    <img src="images/profile-2.jpeg" alt="">
                    <div class="text">Someone name</div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <a href="https://www.w3schools.com/tags/tag_button.asp" class="btn">
                  <button class="btn">View</button>
                </a>
            </div> -->
</section>
